<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">    
    <title>Simple shop</title>
  </head>
  <body>
    <div id="app" class="container">    
        <div class="row">
            <div v-for="product in products" class="card product-card" style="width: 18rem;">
                <img src="assets/images/product.jpeg" class="card-img-top product-image" alt="product img">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{product.description}}</p>
                    <p class="product-price"><b>{{product.price}}</b> &euro;</p>
                    <p><input class="form-control" type="number" value="0" min="0" :max="product.inStock" :disabled="product.inStock <= 0 ? 'disabled' : false"/></p>
                    <a href="#" class="btn btn-success" v-if="product.inStock > 0">Add to card</a>
                    <span class="out-of-stock" v-else="product.inStock < 1">Out of stock</span>
                </div>                
            </div>      
        </div>
    </div>
    
    <script src="assets/vue/vue.2.6.0.js"></script>    
    <script src="assets/jquery/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>   
    <script src="assets/bootstrap/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="app/vue.js"></script>
  </body>
</html>