<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="assets/fontawesome/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">    
    <title>Simple shop</title>
  </head>
  <body>
    <div id="app" class="container">   
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">Simple Shop</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
        
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">Home</a>
                            </li>                          
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search a product" aria-label="Search">
                            <a href="#" v-on:click="search" class="btn btn-outline-success my-2 my-sm-0">Search</a>
                        </form>
                        <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#" data-toggle="modal" data-target="#cartModal"><span class="fas fa-shopping-cart"></span> Cart <span class="cart-count">( {{cartCount}} )</span></a>
                                </li>                          
                            </ul>
                    </div>
                </nav>
            </div>
        </div> 
        <div class="row">            
            <div v-for="product in products" class="card product-card" style="width: 18rem;">
                <img src="assets/images/product.jpeg" class="card-img-top product-image" alt="product img">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{product.description}}</p>
                    <p class="product-price"><b>{{product.price}}</b> &euro;</p>                    
                    <a href="#" v-on:click="addToCart(product.id)" class="btn btn-success" v-if="product.inStock > 0">Add to card</a>
                    <span class="out-of-stock" v-else="product.inStock < 1">Out of stock</span>
                </div>                
            </div>      
        </div> 
        
        <div id="cartModal" class="modal fade cart" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Cart</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li v-for="product in cart"><b>{{ product.name }}</b><br/>
                                Price : <b>{{product.productPrice}}</b> &euro;<br/>
                                <span class="cart-product-quantity">Quantity : <b>{{product.quantity}}</b> pcs</span><br/>                                
                                <button v-on:click="decreaseCart(product.id)" class="btn btn-sm btn-warning" type="button">-</button>
                                <button v-on:click="addToCart(product.id)" class="btn btn-sm btn-primary" type="button">+</button>                                
                                <button v-on:click="removeFromCart(product.id)" class="btn btn-sm btn-danger" type="button">Remove</button>
                               </li>                            
                        </ul>
                        <hr/>
                        <p>Total : <b>{{cartTotal}}</b>&euro;</p>
                    </div>
                    <div class="modal-footer">
                        <button v-on:click="clear" type="button" class="btn btn-danger">Clear</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


    <script src="assets/vue/vue.2.6.0.js"></script>    
    <script src="assets/vuex/vuex.3.1.1.js"></script>  
    <script src="assets/jquery/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>   
    <script src="assets/bootstrap/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="app/vue.js"></script>
  </body>
</html>