body
{
    font-family: 'Quicksand', sans-serif;
    font-size:10pt;
}
.product-card
{
    border:none;    
}
.product-image
{
    width:150px;height:150px; margin-left:auto;margin-right:auto;display:block;
}
.product-price
{
    font-size:16pt;    
}
.out-of-stock
{
    color:red;
}
.navbar
{
    margin-top:30px;
}